version: '3.8'

services:
  db:
    image: postgres:15
    container_name: chat_db_cont
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: chat_db
    ports:
      - "5432:5432"

  web:
    build: .
    volumes:
      - .:/app
    container_name: fastapi_app
    ports:
      - "8000:8000"
    depends_on:
      - db
    environment:
      DATABASE_URL: postgresql://user:password@db:5432/chat_db